@import url('https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 100%;
    --card: 0 0% 2%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 2%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 2%;
    --secondary: 0 0% 8%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 8%;
    --muted-foreground: 0 0% 63%;
    --accent: 0 100% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 59%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 100% 59%;
    --radius: 0.25rem;
  }

  html {
    scroll-behavior: auto;
  }

  body {
    @apply bg-[#050505] text-white antialiased;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }

  html.lenis, html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}